<div class="d-flex flex-column align-items-center text-center">
  <%= form_with(url: "/", local: true, class:"p-5 h3") do %>
    <%= text_field_tag(:q, nil, placeholder: 'Número de expediente', autofocus: true, class: "p-4 text-center") %>
  <% end %>
  <% if @expedientes %>
    <div>
      <% @response.each do |expte|%>
        <%=raw expte%>
      <% end %>
    </div>
  <% end %>
</div.>